@import url('https://fonts.googleapis.com/css?family=PT+Sans');


input[type="file"] {
    display: none;
}
.input{
    border: 0;
    outline: 0;
    width: 403px;
    border-bottom-color: 1px solid #FFA786;
}
.name{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color : #FFA786;
    text-align: center;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    margin-top: 34px;
}
.name:focus{
    border-bottom: 1px solid #FFA786;
}

.des{
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    color : rgba(196, 196, 196, 0.61);
    text-align: center;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    width: 403px;
    white-space: pre-line;
    min-height: 51px;
    margin-top: 28px;
    max-height: 100px;
    max-width: 403px;
}

.des:focus{
    border-bottom: 1px solid #FFA786;
}

.count{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color : #C4C4C4;
    text-align: right;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    width: 100%;
    letter-spacing:50;
    align-self: flex-end;
    width: 100%
}

.texts{
    font-family: 'PT Sans', sans-serif;
    font-weight: regular;
    font-size: 12px;
    color : #C4C4C4;
    text-align: center;
}

.robut{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color : #C4C4C4;
    text-align: center;
    margin-right: 22px;
    border: 1px solid #C4C4C4;
    background: none;
    padding: 0;
    outline: none;
}
.robutchosen{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color : #FFA786;
    text-align: center;
    margin-right: 22px;
    border: 1px solid #FFA786;
    background: none;
    padding: 0;
    outline: none;
}


.prices{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color : rgba(255, 167, 134, 1);
    text-align: center;
    border: none;
    background: none;
    padding: 0;
    outline: none; 
}
.prices:focus{
    border-bottom: 1px solid #FFA786;
}
.ms::after {
    content: 'PLN';
  }

.piecePr{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color : rgba(129, 129, 129, 1);
    text-align: center;
    border: none;
}

.savebut{

    border-radius: 29px;
    background-image: linear-gradient(to right, #FFDE86 0%, #FF5A1C 100%);
    width: 191.57px;
    height: 45px;
    border: none;
    display: inline-block;
    color : #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 80;
    margin-top: 15px;

}

.addpic{
    position: relative;
    top:47px;
    left: 374px;
    background-color: rgba(255, 167, 134, 1);
    filter: drop-shadow(0 3px 15px rgba(168, 91, 77, 0.5));
    border:  1px solid rgba(255, 255, 255, 0.36);
    border-radius: 50%;
    width: 32px;
    height: 32px;

    color: white;
    display: flex;
    align-items: flex-start;
    
}

.divide{
    width: 632px;
    position: relative;
    top:45px;
}