.imges{
    border-radius: 50%;
    width: 180px;
    height: 180px; 
    border:3px solid #EBEBEB;
}

.input{
    border: 0;
    outline: 0;
    width: 403px;
    border-bottom-color: 1px solid #FFA786;
}