<body align="center">
<div *ngIf="listIsEmpty">
  <i class="la la-birthday-cake la-4x text-danger"></i>
  <p class="maintext">
      Nie masz żadnych ciast na liście
  </p>

  <p class="subtext">
    Aby dodać pierwsze ciasto, kliknij <br> 
    w poniższy przycisk:
</p>
<button class="button">
    <i class="la la-plus la-2x" style="margin-left: 14px">
        
    </i>
      <label  style="margin-left: 16px;" class='buttontext'>
             DODAJ CIASTO
         </label> 
</button>
</div>

<div *ngIf="!listIsEmpty">
    <li *ngFor="let cake of cakeList"> 
            {{cake.name}}
            {{cake.description}}
            {{cake.price}} 
    </li>
    <mat-card class="example-card">
            
    <mat-card-header>
     <mat-card-title>MR. X</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>   
    </mat-card-header>
    <mat-card-content>
        ABC
    </mat-card-content>
                
           
        </mat-card>

</div>
</body>
