  .matListAvatar{
      width: 160px;
      height: 160px;
  }

  .title{
 
    font-family: 'PT Sans';
    font-size: 20px;
    font-weight: bold;
    color : #FFA786;
    width: 100%;
    text-align: left
    
  }

  .descript{
    font-family: 'PT Sans';
    font-size: 16px;
    color : #C4C4C4;
    text-align: left;
    white-space: pre-line;
  }

  .pricepiece{
    font-family: 'PT Sans';
    font-size: 12px;
    color : #C4C4C4;
    text-align: left;

  }

  .nums{
    font-family: 'PT Sans';
    font-style: regular;
    font-weight: bold;
    font-size: 18px;
    color : #FFA786;
    text-align: left;
  }

  .backbut{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff 100%);
  }

  .toast{
    border-radius: 6px;
    background-color: #ffffff;
    width: 327px;
    height: 61px;
    filter: drop-shadow(0 3px 30px rgba(103, 42, 42, 0.19));

    font-family: 'PT Sans';
    font-size: 16px;
    text-align: center;
    color :rgba(255, 167, 134, 1);

    position: absolute;
    right: 18px;
    top: 180px;

    display: flex;
    align-items: flex-start;
  }

  .text-danger{
    color: rgba(255, 166, 134, 0.09);
    opacity: 9%;
    font-size: 153px;
    margin-top: 78px;
}