.example-card {
    max-width: 300px;
    margin: 4px
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .lists{
      width: 600px;
      height: 150px;
      max-width: 50%;
      max-height: 200px
  }

  .matListAvatar{
      width: 160px;
      height: 160px;
  }