<body align="center">
<div *ngIf="listIsEmpty">
  <i class="la la-birthday-cake la-4x text-danger"></i>
  <p class="maintext">
      Nie masz żadnych ciast na liście
  </p>

  <p class="subtext">
    Aby dodać pierwsze ciasto, kliknij <br> 
    w poniższy przycisk:
</p>

</div>

<div *ngIf="!listIsEmpty">

    <mat-list>
        <mat-list-item class="lists" *ngFor="let cake of cakeList" >
            <img matListAvatar src="assets/imgs/CakeShop.png" class="image" >
            <h3 matLine class="subtext"> 
                {{cake.name}} 
            
            </h3>
            <p matLine >
                <span class="subtext"> {{cake.description}} </span>
                <span class="subtext"> -- {{cake.price}} </span>
            </p>
            <p matLine >
                    <span class="subtext"> {{cake.description}} </span>
                    <span class="subtext"> -- {{cake.price}} </span>
                </p>
                <p matLine >
                        <span class="subtext"> {{cake.description}} </span>
                        <span class="subtext"> -- {{cake.price}} </span>
                    </p>
                    <p matLine >
                <span class="subtext"> {{cake.description}} </span>
                <span class="subtext"> -- {{cake.price}} </span>
            </p>
        </mat-list-item>
    </mat-list>
</div>
<button class="button" (click) = 'add()'>
    <i class="la la-plus la-2x" style="margin-left: 14px; margin-right: 16px"></i>
   
        DODAJ CIASTO
                 
    </button>
</body>
